<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobitechs.woodsnipe">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <receiver
            android:name=".internetConnectivity.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:label="Crop Image"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login" android:noHistory="true" />
        <activity android:name=".School_List"  android:label="School List" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Attendance" android:label="Attendance"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".School_Details" android:label="Details" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".School_Add" android:label="School Add" android:noHistory="true"/>
        <activity android:name=".Reason_For_Visit"/>
    </application>

</manifest>